
page{
	background-color: #ffffff;
}
.sousuoview{
	width: 690rpx;
	height: 60rpx;
	background: #F7F7F7;
	border-radius: 30rpx;
	padding:15rpx 25rpx;
	
}
.sousuotxt{
	height: 60rpx;
	font-size: 30rpx;
	line-height: 60rpx;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #777777;
}
.lishisousuotxt{
	height: 35rpx;
	line-height: 35rpx;
	font-size: 29rpx;
	font-family: Microsoft YaHei;
	font-weight: bold;
	color: #000000;
}
.sousuolishitxt{
	height: 50rpx;
	background: #F7F7F7;
	border-radius: 30rpx;
	text-align: center;
	line-height: 50rpx;
	padding:0rpx 15rpx;
	font-size: 25rpx;
	margin-bottom:15rpx;
	margin-right:15rpx;
}
.xialadakaiview{
	width: 50rpx;
	height: 50rpx;
	background: #F7F7F7;
	border-radius: 50%;
}
.cainixinagsou{
	width:325rpx;
	margin-bottom:15rpx;
	font-size: 30rpx;
	margin-right: 20rpx;
}

.fufeiss{
	/* height: 40rpx; */
	top: 10rpx;
	left: 20rpx;
	font-size: 20rpx;
	/* text-align: center; */
	/* line-height:40rpx; */
	/* padding:0rpx 15rpx; */
	color: white;
	border-radius: 10rpx;
	/* background: linear-gradient(252deg, #F77254 0%,  #FFAA97 58%,    #FFDBD3 100%); */
}