
page{
	background-color: #F7F6FA;
}
.topview{
	width: 750rpx;
	height: 150rpx;
	background-color: #EE2E43;
}
.bottomvie{
	width: 750rpx;
	height: 106rpx;
	background: rgba(255,255,255,1);
	box-shadow: 0rpx -1rpx 0rpx #E3E3E3;
	opacity: 1;
	position: fixed;bottom: 0rpx;
	left: 0rpx;
}
.quxiaoorder{
	width: 150rpx;
	height: 54rpx;
	background: rgba(216,32,32,0);
	border: 1px solid #CDCDCD;
	opacity: 1;
	border-radius: 27rpx;
	font-size: 25rpx;
	text-align: center;
	line-height: 54rpx;
}
.qufukuan{
	width: 150rpx;
	height: 54rpx;
	background: rgba(248,61,71,1);
	opacity: 1;
	border-radius: 27rpx;
	text-align: center;
	line-height: 54rpx;
	font-size: 25rpx;
	text-align: center;
	line-height: 54rpx;
	color: white;
}
.dizhiview{
	width: 700rpx;
	height: 200rpx;
	background: rgba(255,255,255,1);
	opacity: 1;
	margin-top:-45rpx;
	border-radius: 15rpx;
	padding:0rpx 35rpx;
	margin-left: 25rpx;
}
.dingweiivon{
	width: 22rpx;
	height: 26rpx;
	background: rgba(248,61,71,0.39);
	opacity: 1;
}
.xingm{
	height: 37rpx;
	font-size: 26rpx;
	font-family: PingFang SC;
	font-weight: 400;
	line-height: 46rpx;
	color: #333333;
	opacity: 1;
}
.xiangxiodiz{
	font-size: 26rpx;
	font-family: PingFang SC;
	font-weight: 400;
	line-height: 36rpx;
	color: #333333;
	opacity: 1;
}
.goodlist{
	width: 700rpx;
	background: rgba(255,255,255,1);
	opacity: 1;
	border-radius: 20rpx;
	margin:25rpx;
}
.goodimg{
	width: 138rpx;
	height: 138rpx;
	background: rgba(238,238,238,1);
	opacity: 1;
	border-radius: 10rpx;
}
.goodname{
	width: 348rpx;
	height: 71rpx;
	font-size: 26rpx;
	font-family: PingFang SC;
	font-weight: 400;
	line-height: 34rpx;
	color: #323232;
	opacity: 1;
}
.goodicon{
	width: 150rpx;
	height: 150rpx;
	border-radius: 15rpx;
	background-color: antiquewhite;
	margin-right: 15rpx;
}
.goodlistview{
	width: 750rpx;
	height: 750rpx;
	background-color: white;  
	position: fixed;
	bottom: 0rpx;
	border-top-left-radius: 15rpx;
	border-top-right-radius: 15rpx;
	
}
.guanbi{
	color: blue;
	font-size: 30rpx;
	margin-right: 20rpx;
}
.quqianggouBtn{
	background:#DE3A65;
	width:150rpx;
	height: 50rpx;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 50rpx;
	font-size: 25rpx;
	border-radius: 10rpx;
}