
.headimgd{
	width:100rpx;
	height: 100rpx;
	border-radius: 500rpx;
	margin-right:20rpx;
	background-color: #007AFF;
}
.yuemoneybigview{
	min-width: 300rpx;
	height:80rpx;
	padding:0rpx 20rpx;
	border-radius: 10rpx;
	background-color: #F5F5F5;
}