page{
	background-color:   #F5F5F5;
}
.topview{
	width: 750rpx;
	background: linear-gradient(106deg, rgba(255, 199, 175,1) 5%, rgba(255, 241, 123,1) 100%);
	padding-bottom:30rpx;
	background-image: url(https://6665-fei-bc14b8-1257417988.tcb.qcloud.la/wode_0_01.png?sign=ef02679b5695a427e8c2314d6559c472&t=1650862760);
	background-size: 100% 100%;
}

.yipiaotongbt{
	width:600rpx;
	height: 80rpx;
	background-color: #D8B766;
	text-align:center;
	line-height:80rpx;
	color: white;
	font-size: 30rpx;
	border-radius: 10rpx;
	margin-top:30rpx;
}
.headimgd{
	width: 125rpx;
	height: 125rpx;
	border: 6rpx solid #FFFFFF;
	background: linear-gradient(135deg, #FF7ADE 0%, #61A0FF 100%);
	border-radius: 50%;
	margin-right:25rpx;
}
.updateinfo{
	/* background-color: #ffffff;
	border-radius: 100rpx;
	color: #c0c0c0;
	padding:5rpx 10rpx 5rpx 20rpx; */
	
	height: 54rpx;
	font-size: 25rpx;
	background: #FFFFFF;
	color:#999999;
	padding:5rpx 10rpx 5rpx 20rpx; 
	border-radius: 27rpx;
}
.loadinfo{
	border-radius: 100rpx;
	padding:5rpx 10rpx 5rpx 20rpx;
}
.tijiaosn{
	width: 208rpx;
	height: 80rpx;
	background: #FF8E2D;
	opacity: 1;
	color: white;
	text-align: center;
	line-height: 80rpx;
	border-radius: 15rpx;
}
.vipicoc{
	min-width: 68rpx;
	height: 28rpx;
	background: linear-gradient(90deg, #E9E9E9 0%, #C6C6C6 99%);
	border-radius: 24rpx;
}
.vipf{
	font-size:20rpx;
	color:#000000;
}
.vipf1{
	color: #A3691E;
	
}
.shuziInfo{
	width: 690rpx;
	height: 170rpx;
	background: #FFFFFF;
	border-radius: 18rpx;
	margin-left:30rpx;
}
.jinetxt{
	height: 32rpx;
	font-size: 42rpx;
	font-family: Microsoft YaHei;
	font-weight: bold;
	color: #FE303E;
}
.vipbigview{
	width: 690rpx;
	height: 135rpx;
	background: linear-gradient(105deg, #FED68F 0%, #FEE2AA 34%, #FFCD91 100%);
	border-radius: 18rpx;
	padding:0rpx 40rpx;
	margin-left:30rpx;
}
.viphuiyuantexain{
	height: 30rpx;
	font-size: 29rpx;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #6D481C;
	font-weight: bold;
}
.huiyuangengdu{
	height: 22rpx;
	font-size: 22rpx;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #A56111;
	margin-top:12rpx;
}
.shengjihuiyuan{
	background: #000000;
	border-radius: 24rpx;
	padding:10rpx 15rpx;
}
.shengjihuiyuan1{
	background: #ED4F11;
	border-radius: 2400rpx;
	padding:0rpx 15rpx;
}
.shengjhuiyuan1{
	font-size: 23rpx;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #FFCB88;
}
.shengjhuiyuan2{
	height: 47rpx;
	line-height:47rpx;
	font-size: 23rpx;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #FFCB88;
}
/* 我的服务 */
.myservice{
	width: 690rpx;
	background: #FFFFFF;
	border-radius: 18rpx;
	margin-left:30rpx;
	margin-top:30rpx;
	padding:24rpx;
}
.wodefuwu{
	height: 30rpx;
	font-size: 29rpx;
	font-family: Microsoft YaHei;
	font-weight: bold;
	color: #000000;
}
.shoucangicon{
	width: 59rpx;
	height: 56rpx;
	margin-bottom:10rpx;
}

.kongogss{
	height: 25rpx;
	font-size: 25rpx;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #999999;
}