.logintxt{
	height: 67rpx;
	font-size: 48rpx;
	font-weight: bold;
	color: #262A30;
	line-height: 60rpx;
}
.regisertbt{
	font-size: 30rpx;
	font-weight: 400;
	color: #666666;
	line-height: 38rpx;
}
.loginbtn{
	width: 583rpx;
	height: 94rpx;
	background: linear-gradient(180deg, #FED68F 0%, #FED68F 100%);
	border-radius: 47rpx 47rpx 47rpx 47rpx;
	opacity: 1;
	text-align: center;
	line-height: 94rpx;
	color: white;
}
.loginivie{
	padding:0rpx 15rpx;
	background-color: #FED68F ;
	color: white;
	font-size: 25rpx;
	line-height:30rpx;
	border-radius: 200rpx;
}