.loadinfo{
	background-color: #ffffff;
	border-radius: 100rpx;
	padding:5rpx 10rpx 5rpx 20rpx;
}
.tijiaosn{
	width: 208rpx;
	height: 80rpx;
	background: #FF8E2D;
	opacity: 1;
	color: white;
	text-align: center;
	line-height: 80rpx;
	border-radius: 15rpx;
}