.liveview{
	width:700rpx;
	margin:25rpx 25rpx 0rpx 25rpx;
	padding:20rpx 20rpx;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 15rpx 15rpx 0rpx 0rpx;
}
.liveitem{
	margin:0rpx 25rpx 25rpx 25rpx;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 20rpx;
}
.liveimg{
	width:700rpx;
	height:400rpx;
	border-radius: 15rpx;
}
.liveitel{
	width: 700rpx;
	padding:0rpx 15rpx;
}
.playicon{
	padding:20rpx 10rpx 20rpx 20rpx;
	top: 20rpx;
	width:80rpx;
	height:80rpx;
	left:20rpx;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
}