.tijaobtns{
	width:650rpx;
	height: 80rpx;
	background-color: #FF8E2D;
	text-align: center;
	line-height: 80rpx;
	color: white;
	border-radius: 10rpx;
	margin:40rpx 0rpx;
}
view{
	font-size: 30rpx;
}
.loginivie{
	padding:0rpx 15rpx;
	background-color: #FF8E2D ;
	color: white;
	font-size: 25rpx;
	line-height:45rpx;
	border-radius: 200rpx;
}