/* 剧院 */
.polymerization_view1{
	width:690rpx;
	padding:20rpx 15rpx 0rpx 15rpx;
	margin:25rpx 0rpx 35rpx 0rpx;
	border-radius: 10rpx;
}
.newimage{
	width: 200rpx;
	height: 200rpx;
	border-radius: 15rpx;
	background: #007AFF;
	margin-right: 15rpx;
}
.dyncname{
	font-size: 30rpx;
	height:70rpx;
	line-height: 35rpx;
}

/* 专题 */
.imgass{
	width: 690rpx;
	height: 265rpx;
	background: #F6F6F6;
	border-radius: 12rpx;
	margin:30rpx 30rpx 0rpx 30rpx;
}